/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 426px) {
  .app {
    padding: 3% 10%;
  }
}

body {
  background-image: url(../Images/background.jpg);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}