.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.window {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 50%;
  margin: 20% auto;
  padding: 20px;
}

.window * {
  margin-bottom: 1rem;
}